{% macro render_modcard(child) %}
 <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <a href="{{ child|url }}">
                    {% if child.available %}
                        <span class="availabletext"></span>
                    {%  endif %}
                    <img class='img-responsive' src="http://lorempixel.com/600/600/people/1">

                </a>
                <a href="{{ child|url }}"><div class="name">{{ child.name }}</div></a>
                <div class="tag">{{ child.tag_line }}</div>

            </div>
        </div>
{%  endmacro %}
{% macro render_profile(child) %}
{% endmacro %}
{% macro render_table_field(head,val) %}
    {% if val %}
    <tr class="profile-field col-xs-6">
        <td class="profile-field-head">{{ head }}</td>
        <td class="profile-field-val">{{val}}</td>
    </tr>
    {% endif %}
{% endmacro %}

{% macro render_wide_table_field(head,val) %}
    {% if val %}
    <tr class="profile-field">
        <td class="profile-field-head">{{  head }}</td>
        <td class="profile-field-val">{{val}}</td>
    </tr>
    {% endif %}
{% endmacro %}
