<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ 'static/style.css'|asseturl}}">
</head>
<body>
    <div id="header">
        <nav>
            <label for="show-menu" class="show-menu">Menu</label>
            <input type="checkbox" id="show-menu" role="button">
            <ul id="menu">
                <li><a href="{{ '/'|url }}">BUBBA</a></li>
                <li><a href="{{ '/about'|url }}">About Us</a></li>
                <li><a href="{{ '/models'|url }}">Models</a></li>
                <li><a href="{{ '/contact'|url }}">Contact Us</a></li>
                <li><a href="{{ '/employment'|url }}">Employment</a></li>
            </ul>
        </nav>
    </div>
<div id="main">
    {% block content %}
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
