{% extends "layout.html" %}
{% from "macros/models.html" import render_profile,render_table_field %}
{% block title %}{{ this.title }}{% endblock %}
{% block content %}
<h2>Profile of {{ this.name }}</h2>

    <div class="container">
    <div class="row">
    <div class="col-md-6">
        picyure stuff
    </div>
    <div class="col-md-6 profile-card">
        <h4>Bio of {{ this.name }}</h4>
        <div class="profile-desc">
           <p> <strong>{{ this.description }} </strong></p>

        </div>
        <div class="profile-info col-md-12">
            <h3>Information</h3>
            {{  render_table_field("Age",this.age) }}
            {{  render_table_field("Tattoos",this.tatoos) }}
            {{  render_table_field("Other",this.tattoos) }}
            {{  render_table_field("Age",this.age) }}
        </div>
    </div>

    </div>
</div>
{% endblock %}
