{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block content %}
<h2>Profile of {{ this.name }}</h2>

    <div class="container-fluid">
    <div class="col-md-6">
        picyure stuff
    </div>
    <div class="col-md-6">
    <div class="profile-card">
        <h4>Bio of {{ this.name }}</h4>
        <div class="profile-desc">
            {{ this.description }}

        </div>
        <div class="profile-info">
            <h4>Information</h4>
            <div class="profile-field col-md-3">
                <span class="profile-field-head">Tattoos</span>
                <span class="profile-field-val">{{this.tattoos}}</span>
            </div>
            <div class="profile-field col-md-3">
                <span class="profile-field-head">Age</span>
                <span class="profile-field-val">{{ this.age }}</span>
            </div>

        </div>

    </div>
    </div>

    </div>
{% endblock %}
