{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block content %}
    {{ this.modelname }}
    <div class="row">
        <div class="modellist col-md-3">
            Mary
        </div>
        <div class="modellist col-md-3">
            Jane
        </div>
        <div class="modellist col-md-3">
            Maggie
        </div>
        <div class="modellist col-md-3">
            mongo
        </div>
    </div>
    <div class="row">
        <div class="modellist col-md-3">
            john
        </div>
        <div class="modellist col-md-3">
            james
        </div>
        <div class="modellist col-md-3">
            jenkins
        </div>
        <div class="modellist col-md-3">
            jethro
        </div>
    </div>
    <div class="row">
        <div class="modellist col-md-3">
            why
        </div>
        <div class="modellist col-md-3">
            how
        </div>
        <div class="modellist col-md-3">
            what
        </div>
        <div class="modellist col-md-3">
            when
        </div>
    </div>
{% endblock %}
