{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block content %}
    <div>
        <h2>{{ this.modelname }}</h2>
    </div>
{#    <div class="row row-odd">#}
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/4">
                Marj
            </div>
        </div>
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/1">
                Jane
            </div>
        </div>
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/2">
                Maggie
            </div>
        </div>
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/3">
                MOngo
            </div>
        </div>
{#    </div>#}
{#    <div class="row row-even">#}
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/4">
                Marj
            </div>
        </div>
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/1">
                Jane
            </div>
        </div>
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/2">
                Maggie
            </div>
        </div>
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/3">
                MOngo
            </div>
        </div>
{#    </div>#}
{#    <div class="row row-odd">#}
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/4">
                Marj
            </div>
        </div>
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/1">
                Jane
            </div>
        </div>
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/2">
                Maggie
            </div>
        </div>
        <div class="modellist col-xs-12 col-sm-6  col-md-3">
            <div class="modcard">
                <img class='img-responsive' src="http://lorempixel.com/600/600/people/3">
                MOngo
            </div>
        </div>
{#    </div>#}
{% endblock %}
