html {
    background: #000;
    color: #f00;
}

#header {
    display: block;
}
#main {
    display:block;
}

.heading-bar {
    border-bottom: 2px solid crimson;
}

body {
    padding-top: 50px;
    background-color: #000;
    color: #bbb;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.row-odd { background-color: #0088bb;}
.row-even {background-color: #00aaee;}
.modellist {
    text-align: center;
}
